// bower:scss
// endbower

@import 'global';

/* home */
#nav {
	background-color: #252525;

	div.content {
		width: 1000px;
		margin:  0 auto;
		color: #fff;

		ul {
			text-align: center;

			li {
				@include display-inline(top);

				a {
					display: block;
					padding: 1.5em;
					color: #ccc;
					font-family: $font-name-bold;
					text-transform: uppercase;

					&:hover {
						color: #fff;
					}
				}
			}
		}
	}
}

#header {
	div.content {
		width: 1000px;
		margin:  0 auto;
		text-align: center;
		background: url('../images/woman-thinking.jpg') no-repeat;
		min-height: 600px;

		h1 {
			font-size: 2.8em;
			text-transform: uppercase;
			margin: 0.7em 0 0.2em;

			span {
				color: red;
			}
		}

		h2 {
			margin: 0;
			font-size: 1.5em;
			text-transform: uppercase;
		}
	}
}

#crew {
	background-color: #E74C3C;

	div.content {
		width: 1000px;
		margin:  0 auto;
		padding: 2.5em 0;

		> div.header {
			text-align: center;
			text-transform: uppercase;
			padding: 1em 0;

			h2 {
				margin: 0;
				color: #fff;
				font-size: 2em;
				font-weight: normal;
			}
		}

		> div.members {
			text-align: center;

			div.header {
				h3 {
					margin: 0.5em 0;
					color: #fff;
					text-transform: capitalize;
					font-family: $font-name-bold;
					font-weight: normal;
				}
			}

			div.member {
				width: 200px;
				margin-right: 2em;
				@include display-inline(top);

				.pic {
					overflow: hidden;
					@include border-radius(50%);

					img {
						display: block;
					}
				}

				&:last-child {
					margin-right: 0;
				}
			}

			div.info {
				p {
					color: #fff;
					margin: 0;
				}
			}
		}
	}
}

#app {
	background-color: #E74C3C;
}

#footer {
	background: #eee;
	padding: 2em 0;

	div.content {
		width: 1000px;
		margin:  0 auto;
		text-align: center;

		nav {
			margin-bottom: 2em;

			ul {
				li {
					@include display-inline(top);

					a {
						display: block;
						padding: 1em 0.8em;
						color: inherit;
						font-size: 0.8em;
						font-family: $font-name-bold;
						text-transform: uppercase;
					}
				}
			}
		}

		small {
			text-transform: capitalize;
		}
	}
}
/* end home */